body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  overflow-y: scroll;
}

.container {
  width: 90%;
  max-width: 600px;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  position: relative;
}

h1 {
  text-align: center;
}

.note-form {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

input[type="text"] {
  border-bottom: 1px solid #ddd;
  border-radius: 10px 10px 0 0;
}

textarea {
  border-radius: 0 0 10px 10px;
  resize: vertical;
}

button {
  padding: 8px 15px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 14px;
}

#saveNoteButton {
  background: #28a745;
}

#saveNoteButton:hover {
  background: #218838;
}

#showMoreButton {
  background: #6c757d;
}

#showMoreButton:hover {
  background: #5a6268;
}

.editButton {
  background: #007bff;
  margin-right: 5px;
}

.editButton:hover {
  background: #0056b3;
}

.moveToTopButton {
  background: #ffc107;
  margin-right: 5px;
}

.moveToTopButton:hover {
  background: #e0a800;
}

.deleteButton {
  background: #dc3545;
  padding: 5px 10px;
}

.deleteButton:hover {
  background: #c82333;
}

.showButton {
  background: #ff7f50;
}

.showButton:hover {
  background: #ff4500;
}

.deleteButtonContainer {
  margin-left: auto;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.buttons {
  display: flex;
  gap: 5px;
}

.noteHeadline {
  font-size: 18px;
  font-weight: bold;
}

.noteText {
  font-size: 16px;
}

.noteDate {
  font-size: 12px;
  color: #888;
}

.entry-count {
  color: blue;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  right: 20px;
}
